// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$primary-color: #6495ed;
$text-color: #f5f5f5;
$background-color: #111214;
$color-foreground: #2e4a5c;
$color-secondary: #747a8e;
