@use "./styles/reset";
@use "./styles/typography";
@use "./styles/variables" as *;

.app {
  height: 100vh;
  overflow-x: hidden;
  background-color: $background-color;
  padding: 2rem;

  > * {
    margin-bottom: 1.5rem;
  }
}
